{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="jumbotron jumbotron-bg">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1 class="display-4 pt-5 text-white">Buffalo Mutual Aid Network</h1>
                <p class="py-2 pb-3 text-white">Buffalo Mutual Aid Network is a social action group for peer-to-peer
                    organizing, humanitarian
                    assistance, and reliable information sharing developed in response to the COVID-19 crisis.</p>
                <p>
                    <a class="btn btn-light btn-lg mt-3 mr-3" href="https://forms.gle/yoV66eJC1d2dn54Z8" role="button"><i
                            class="fas fa-hand-paper pr-2"></i>Offer
                        help</a>
                    <a class="btn btn-light btn-lg mt-3 mr-3" href="https://forms.gle/4RRA88qg22JZmDTN7" role="button">
                        <i class="fas fa-plus-circle pr-2"></i>Request
                        help</a>
                </p>
            </div>
            <div class="col-3">
                <!-- <img src="{% static 'img/bman_logo_alpha.png' %}" alt=""> -->
            </div>
        </div>
    </div>
</div>

<div class="container px-4">
    <div class="row">
        <div class="col-md-4">
            <div class="py-2">
                <div class="card">
                    <img src="{% static 'img/volunteer.jpg' %}" class="card-img-top"
                        alt="Someone delivering another person a box">
                    <div class="card-body">
                        <h2 class="card-title">Help provide aid</h2>
                        <p class="card-text">
                            Consider volunteering to provide mutual aid during this crisis. This can include delivering
                            groceries or
                            supplies. You might have another skill or resource to contribute, such as providing
                            childcare.
                            Compensation for your transportation, time, or service might be available.
                        </p>
                        <a class="btn btn-dark"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSc0Ytm83OuVLzi6oOa4o6dEvjhitk4rqfB9bb1YEBLLwYesng/viewform"
                            role="button">Sign up to provide aid</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="py-2">
                <div class="card">
                    <img src="{% static 'img/donate.jpg' %}" class="card-img-top"
                        alt="Person holding pile of coins in hands with a note titled Make A Change">
                    <div class="card-body">

                        <h2 class="card-title">Donate to fund volunteer work</h2>
                        <p class="card-text">
                            All money raised will go towards mutual aid, which will include providing food, over the
                            counter
                            medicine and cleaning supplies. We are preparing to include direct support such as
                            childcare,
                            care
                            giving, and running errands. This is not charity, this is solidarity and the truest sense of
                            community.
                            Please donate now to support these efforts!
                        </p>
                        <a class="btn btn-dark" href="https://www.gofundme.com/f/buffalo-mutual-aid-network/donate"
                            role="button">Donate on GoFundMe</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="py-2">
                <div class="card">
                    <img src="{% static 'img/children.jpg' %}" class="card-img-top"
                        alt="Photo of four children dressed in muddy rain boots outside">
                    <div class="card-body">
                        <h2 class="card-title">Provide childcare</h2>
                        <p class="card-text">We help pair childcare providers with families based on everyone's needs.
                            We
                            aim to keep the
                            needs of the
                            childcare provider and the families in the best interest that we can. We ask for a reference
                            as
                            a way to
                            guarantee safe care. </p>
                        <a class="btn btn-dark"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSceDUhVH6forlfh6An2uRXBYS4r-2Af17Z_Grik_tHf-jBgbA/viewform"
                            role="button">Apply to provide childcare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

</div>
<div class="container px-4 py-5">
    <div class="row justify-content-center">
        <div class="col-md-7 col-sm-12 text-center mb-3">
            <h2 class="text-center"><i class="fas fa-cogs pr-2"></i><br>Work In Progress</h2>
            <p>
                <b>Buffalo Mutual Aid Network</b> is an evolving community effort managed entirely by volunteers. This website is an ongoing project with <b><a href="https://www.codeforbuffalo.org/" style="color: black;">Code for Buffalo</a></b> volunteers.
            </p>
            <p>
                If you'd like to join us in helping lead this collective effort, welcome!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12 mb-4">
            <p class="text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVppqlR7ENYFS7H8Hrtnk_H9I7M8zh7nGl7BI4boHiTM4mPg/viewform?fbclid=IwAR3mkS9qjyTxE3koMwE0whdZat7X1Ka24i0V-ed_yaMhYLOqUX5DR6mhXec" class="btn btn-outline-dark" target="_blank">Take on a leadership role</a>
            </p>
            
            <p class="mt-2 text-center h6">Roles we need filled:</p>
            <ul class="list-group">                
                <li class="list-group-item py-2">Additional Volunteer Coordinators</li>
                <li class="list-group-item py-2">Data/Spreadsheet Managers</li>
                <li class="list-group-item py-2">Neighborhood Captains</li>
                <li class="list-group-item py-2">Training Coordinators</li>
                <li class="list-group-item py-2">Goods Drives Coordinators</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="text-center">
                <a href="https://github.com/CodeForBuffalo/buffalo_mutual_aid" class="btn btn-outline-dark" target="_blank">Contribute on Github</a>
            </p>
            
            <p class="mt-2 text-center h6">Roles we need filled:</p>
            <ul class="list-group">                
                <li class="list-group-item py-2">Front-end developers</li>
                <li class="list-group-item py-2">Back-end developers</li>
                <li class="list-group-item py-2">UX/UI designers</li>
                <li class="list-group-item py-2">Testing and QA experts</li>
                <li class="list-group-item py-2">Security professionals</li>
            </ul>
        </div>
    </div>
    
</div>

{% endblock content %}

{% block photo_credit %}
<p class="text-muted"><small>Photos by Perry Grone, RoseBox رز باکس, Kat Yukawa, Ben Wicks on Unsplash</small></p>
{% endblock photo_credit %}