{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        Buffalo Mutual Aid Network
    </title>
    <!-- Primary Meta Tags -->
    <title>Buffalo Mutual Aid Network</title>
    <meta name="title" content="Buffalo Mutual Aid Network">
    <meta name="description"
        content="Peer-to-peer aid during the COVID-19 crisis. Become a volunteer or request help from your community!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://buffalomutualaid.org">
    <meta property="og:title" content="Buffalo Mutual Aid Network">
    <meta property="og:description"
        content="Peer-to-peer aid during the COVID-19 crisis. Become a volunteer or request help from your community!">
    <meta property="og:image" content="https://buffalomutualaid.org/static/img/volunteer.262337d85805.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://buffalomutualaid.org">
    <meta property="twitter:title" content="Buffalo Mutual Aid Network">
    <meta property="twitter:description"
        content="Peer-to-peer aid during the COVID-19 crisis. Become a volunteer or request help from your community!">
    <meta property="twitter:image" content="https://buffalomutualaid.org/static/img/volunteer.262337d85805.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <script src="https://kit.fontawesome.com/e8427b15fb.js" crossorigin="anonymous"></script>

    <!-- Facebook Pixel Code -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '658959368237946');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=658959368237946&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% slugurl 'home' %}">
                <img src="{% static 'img/bman_logo_alpha.png' %}" alt="" width="30" height="30" class="mr-2">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% slugurl 'home' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="https://forms.gle/4RRA88qg22JZmDTN7">Request help</a>
                    </li>
                    <li class="nav-item dropdown px-2">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Offer Help</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="https://forms.gle/yoV66eJC1d2dn54Z8">Sign up to provide
                                aid</a>
                            <a class="dropdown-item"
                                href="https://docs.google.com/forms/d/e/1FAIpQLSceDUhVH6forlfh6An2uRXBYS4r-2Af17Z_Grik_tHf-jBgbA/viewform">Help
                                provide childcare</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown px-2">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown-contact" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Join Network</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-contact">
                            <a class="dropdown-item"
                                href="https://www.facebook.com/groups/740052889874229/permalink/740054249874093/">Join
                                Facebook group</a>
                            <a class="dropdown-item"
                                href="https://discord.gg/HnkUf9?fbclid=IwAR10VF9ORXu8w5eTMmyyRRsDluqLuN03Fy2TOuCrzrwp-9TyJ1ezrHrl6hc">Join
                                Discord Chat server</a>
                            <a class="dropdown-item"
                                href="https://docs.google.com/forms/d/e/1FAIpQLSeVppqlR7ENYFS7H8Hrtnk_H9I7M8zh7nGl7BI4boHiTM4mPg/viewform?fbclid=IwAR2ZkzK-59sCW_IC567bL9Jd5bOoW42viwqF-So0qd9Wfy_ra6MAO3mrWE4">Volunteer
                                for a leadership role</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    <footer class="container-fluid mb-0 bg-light">
        <div class="container font-small pt-5">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <img src="{% static 'img/bman_logo_alpha.png' %}" alt="" width="100" height="100" class="mb-5 mt-1">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h5>Buffalo Mutual Aid Network</h5>
                    <p><small>Buffalo Mutual Aid Network is a social action group for peer-to-peer
                            organizing, humanitarian
                            assistance, and reliable information sharing developed in response to the COVID-19 crisis.
                        </small>
                    </p>
                    {% block photo_credit %}{% endblock photo_credit %}
                </div>
                <div class="col-md-3 col-sm-12">
                    <ul style="list-style-type: none; padding-left: 0;">
                        <h6>Contact us</h6>
                        <li>
                            <a href="https://www.facebook.com/groups/740052889874229/permalink/740054249874093/"
                                target="_blank"><i class="fab fa-facebook-square pr-2"
                                    style="color: #4c6ef5;"></i>Facebook
                                Group</a>
                        </li>
                        <li>
                            <a href="https://discord.gg/HnkUf9?fbclid=IwAR10VF9ORXu8w5eTMmyyRRsDluqLuN03Fy2TOuCrzrwp-9TyJ1ezrHrl6hc"
                                target="_blank"><i class="fab fa-discord pr-2" style="color: #7289da;"></i>Discord
                                Chat</a>
                        </li>
                        <li>
                            <a href="https://github.com/CodeForBuffalo/buffalo_mutual_aid" target="_blank"><i
                                    class="fab fa-github pr-2" style="color: #323131;"></i>Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container font-small text-center py-3 text-muted">
            <p>&copy; Buffalo Mutual Aid Network 2020</p>
        </div>
    </footer>

    {# Global javascript #}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>